.main {
	margin: 8px;
}
.campaignItem {
	width: 100%;
	border: 1px solid black;
	margin-bottom: 3px;
	padding: 2px;
}
.campaignItem-met {
	background-color: lightgreen;
}
.campaignItem-unmet {
	background-color: lightyellow;
}
.campaignItem-header {
	display: flex;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}
.campaignItem-title {
	flex: auto;
	text-align: left;
}
.campaignItem-amount {
	flex: auto;
	text-align: right;
}
.campaignItem-description {
	display:none;
}
.campaignItem:hover > .campaignItem-description, .campaignItem-selected > .campaignItem-description {
	display:block;
}